.jumbotron {
    background-color: paleturquoise;
    color: teal;
    margin-top: 56px;
}
.btn{
    background-color: mediumslateblue;
    height: 60px;
}

footer{
    background-color:rgb(202, 202, 202);
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px 10px 0px 10px;
}

.card-hotel{
    background-color: wheat;
    flex: 1 165px;
    /* padding: 2px 0p 2px 0px; */
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.card-button-icon{
    padding-right: 10px;
}
.card-header{
    background-color: rgb(247, 193, 93);
    font-style: italic;
}
.card-footer{
    font-style: italic;
}
.card-text{
    text-align: justify;
}